@import "../../vars.css";

#everything {
	min-height: 100dvh;
	width: 100dvw;
}

#mainContent {
	min-height: calc(100dvh - var(--HEADER-HEIGHT) - var(--FOOTER-HEIGHT));
	display: flex;
	flex-grow: 1;
}

#layoutingContainer {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
