@import "../../vars.css";

#initialContentView {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#initialBigTextContainer {
	height: 400px;
	display: flex;
	flex-direction: column;
}

#initialBigTextContainer button {
	margin-top: 25px;
	height: 60px;
	width: 200px;
	align-self: flex-start;

	background-color: #ff006e;
	color: white;
	box-shadow: 0 0 15px #ff006e;
	transition: box-shadow 0.15s ease-in-out;
}

#initialBigTextContainer button:hover {
	box-shadow: 0 0 40px #ff006e;
}

#initialAnimationContainer {
	height: 600px;
	width: 600px;
}

.fullContentView {
	width: 100%;
	height: calc(100dvh - var(--HEADER-HEIGHT));
}

.fullContentView:last-of-type {
	height: calc(100dvh - var(--HEADER-HEIGHT) - var(--FOOTER-HEIGHT));
}
